@import "tailwindcss";
@plugin "daisyui";

/* Custom styles */
:root {
    --color-primary: #123F6D;
}
@theme {
    --color-primary: #123F6D;
    --color-custom-orange: #F1683B;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    background: rgba(0, 0, 0, 0.5);
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px !important;
}

.swiper-pagination-bullet {
    background: white !important;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* Modal animations */
.modal-enter {
    opacity: 0;
    transform: scale(0.95);
}

.modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 200ms, transform 200ms;
}

.modal-exit {
    opacity: 1;
    transform: scale(1);
}

.modal-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 200ms, transform 200ms;
} 

html, body {
    font-family: 'DBHeavent', sans-serif;
}

#units-container .unit-card {
    transform: translateY(50px);
}

.card-benefits ul {
   @apply list-disc list-inside;
}
